@charset "UTF-8";
.community {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 2vw;
	margin-top: 10px;
	margin-bottom: 10px;
}

.community_content {
	max-width: 1000px;
	margin: 0 auto;
}

.community>div {
	background: #212529;
	text-align: center;
}

.category li {
	float: right;
	margin-left: 10px;
	margin-right: 20px;
}

a {
    text-decoration: none;
}

form[name=frm] {
    text-align: center;
    margin-top: 10px;
}


