@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');


body{
	font-family: 'Noto Sans KR', sans-serif;
	width:1000px;
	padding: 20px;
}
.div0{
	margin-top: 50px;
}
.div1, .div2, .div3{
	width: 630px;
	margin-left: auto;
	margin-right: auto;
}
.input1{
	width: 600px;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	vertical-align: middle;
	border: 1px solid #9d9d9d;
	border-radius:5px 5px 5px 5px;
}
.input2{
	width: 200px;
	height:40px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	vertical-align: middle;
	border: 1px solid #9d9d9d;
	border-radius:5px 5px 5px 5px;
}

.input4{
	width: 200px;
	height:40px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	margin-bottom: 5px;
	vertical-align: middle;
	border: 1px solid #9d9d9d;
	border-radius:5px 5px 5px 5px;
}
.input5{
	width: 600px;
	height:40px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	margin-bottom: 5px;
	vertical-align: middle;
	border: 1px solid #9d9d9d;
	border-radius:5px 5px 5px 5px;
}
.sel1{
	width: 622px;
	height:40px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	margin-bottom: 5px;
	vertical-align: middle;
	border: 1px solid #9d9d9d;
	border-radius:5px 5px 5px 5px;
}
.mobile{
	width: 100px;
	height:40px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	vertical-align: middle;
	border: 1px solid #9d9d9d;
	border-radius:5px 5px 5px 5px;
}
.p1{
	font-weight: 300;
	font-size: 11pt;
	margin-bottom: 2px;
}
.p2{
	margin-top:2px;
	font-size: 11pt;
	color: red;
	padding-left: 2px;
	display: none;
}
.btn_add1{
	width: 110px;
	height: 40px;
	padding-left: 10px;
	padding-right: 20px;
	margin: 0px;
	margin-bottom: 5px;
	vertical-align: middle;
	border: 1px solid #9d9d9d;
	border-radius:5px 5px 5px 5px;
	font-weight: 400;
	cursor: pointer;
}
.btn_add2{
	width: 622px;
	height: 40px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0px;
	margin-bottom: 5px;
	vertical-align: middle;
	border: 1px solid #9d9d9d;
	border-radius:5px 5px 5px 5px;
	font-weight: 400;
	cursor: pointer;
}
#wr_submit{
	width: 622px;
	height: 40px;
	padding-left: 10px;
	padding-right: 20px;
	margin: 0px;
	margin-top: 10px;
	vertical-align: middle;
	border: 1px solid #9d9d9d;
	border-radius:5px 5px 5px 5px;
	font-weight: 400;
	cursor: pointer;
	background-color: white;
}
#wr_submit:hover{
	background-color: #eeeeee;
}	
#wr_submit:active {
	  transform: translateY(2px);
}
.multi_radio2{
	border-top: 1px solid #eeeeee;
	margin-top: 10px;
}